/*.E-overlay {
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 99;
}
.E-modal{
    position: relative;
    width: 80%;
    max-width: 360px;
    background: #CBE3BF;
    padding: 40px 20px 50px;
    border-radius: 18px;
    border: 3px solid #6B4C3A;
    box-shadow: 0 4px 14px rgba(0,0,0,0.2);
}*/

.E-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.E-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 360px;
    background: #CBE3BF;
    padding: 40px 20px 50px;
    border-radius: 18px;
    border: 3px solid #6b4c3a;
    box-shadow: 0 4px 14px rgba(0,0,0,0.25);
}

.E-close {
    position:absolute;
    top: 1px;
    right: 1px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.box {
    margin-bottom: 12px;
    background: white;
    border-radius: 999px;
    border: 2px solid #709E61;;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.box p{
    margin: 0;
    font-size: 16px;
    font-weight: 800;
    color: #333;
}

.option {
    display: flex;
    gap: 5px;
}

.op-btn {
    padding: 6px 12px;
    border-radius: 999px;
    border: 1px solid #ccc;
    background: #fff;
    color: #777;
    font-size: 13px;
    cursor: pointer;
}

.op-btn.좋음,
.op-btn.높음,
.op-btn.많음 {
    background: #1761BC;
    color: white;
    border-color: #1761BC;
}

.op-btn.보통 {
    background: #0CAA2F;
    color: white;
    border-color: #0CAA2F;
}

.op-btn.나쁨,
.op-btn.낮음,
.op-btn.적음 {
    background: #CF0000;
    color: white;
    border-color: #CF0000;
}

.submit-btn{
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 5px 12px;
    background: #ffffff;
    border: 2px solid #709E61;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    color: #333333;
}