.place-info-container {
    position: fixed;
    bottom: -3px;
    width: 500px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background : #F8EBD8;
    border-radius : 50px 50px 0 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 -6px 20px rgba(0,0,0,0.15);
    z-index: 10;
    border: 3px solid #8a6a47;
}

.top{
    position: relative;
    text-align: center;
    
    bottom: 5px;
}

.p-name{
    font-size: 20px;
    font-weight: 900;
    margin: 0 auto;

    background: #fff;
    padding: 1px 15px;
    border-radius: 999px;
    display: inline-block;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    
}


.P-close{
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #333333;
    
}


.line {
    width: 100%;
    height: 1px;
    background: #000000;
    margin : 12px 0;
}


.list {
    width: 100%;
    padding: 0 2px;
    box-sizing: border-box;
    margin-top: 20px;
}

.list-row{
    display: flex;
    align-items: center;
    padding: 6px 20px;
    
}

.label {
    margin-left:10%;
    width: 50%;
    text-align: left;
    font-weight: 900;
    font-size: 17px;
}

.line-2 {
    width: 80%;
    height: 1px;
    background: #c5c5c5;
    opacity: 0.6;
    margin: 0 auto;
}

.level{
    margin-left: 5%;
    width: 20%;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 999px;
    color: white;
    font-weight: 800;
    line-height: 0.8;
    font-size: 17px;
    text-align: center;
}

.level.높음,
.level.좋음,
.level.많음 {
    background: #1761BC;
    color: white;
}

.level.보통 {
    background: #0CAA2F;
    color: white; 
}

.level.낮음,
.level.나쁨,
.level.적음 {
    background: #CF0000; 
    color: white;
}


.btn-area {
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.post-btn, .estimate-btn{
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    background : #ffffff;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #A0C785;
}