.header-container {
    width: 100%;
    padding-top: 30px;
    background: #ffffff;
    display : flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.logo{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 800;
}

.search-move{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 420px;
    gap: 10px;
}

.search-input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #8a6a47;
    background-color: #fff7ec;
    color:black;
    font-size: 15px;
    outline: none;
}

.Login{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff7ec;
    border: 2px solid #8a6a47;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
}